$screen-sm-min: 540px;
$screen-md-min: 768px;
$screen-lg-min: 980px;
$screen-full-min: 1680px;
$light-black:#3D3939;
$deep-green:rgb(30, 163, 170);
$deep-green-light:#29C5CD;
$ligh-green:rgb(90, 200, 200);
$red:rgb(225, 120, 50);
$deep-grey:rgb(90, 90, 90);

$menu-width:200px;
$menu-transition:.5s ease;